.payButton {
  width: 100%;
  background-color: #111;
  color: white;
  border: none;
  padding: 1.5rem;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0.8rem;
  cursor: pointer;
  margin-top: 2rem;
  transition: background-color 0.2s;

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}