.footer {
  width: 100%;
  padding: 2rem 0;
  margin-top: 1rem;
  border-top: 1px solid #eaeaea;
  background-color: #fafafa;

  p {
    text-align: center;
    color: #666;
    font-size: 1.4rem; // Adjusted for new base

    &:first-child {
      margin-bottom: 0.5rem;
    }
  }
}